<!DOCTYPE html>
<html lang="pt-pt">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<title>Inquerito Web</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Inquerito Web</h1>
        <h2>Tem coragem de fazer uma viagem a Marte?</h2>
        <div class="mt-4">
            <a asp-action="Responder" class="btn btn-primary">Responder Agora!</a>
            <a asp-action="Resultado" class="btn btn-primary">Ver Resultados Parciais</a>
        </div>
    </div>
</body>
</html>